{% extends 'base.html' %}

{% block content %}
<div class = "form-content">
    <h1>Halo, apa kabar?</h1>
    <form action = "{% url 'story_6:add_status' %}" method="POST">
        <div id="status-input">
        {% csrf_token %}
        {{ form }}
        </div>
    <br>
        <button type = "submit" class = "button
        btn-primary active btn-danger" value = "Save">
        Post Status! </button>
    </form>
    <br>
    <br>
    <h2><b>List of Status</b></h2>
        {% for status in all_status %}
        <div style = "margin: 1rem 0">
            <div class = "date" style = "color: grey">{{ status.time }} </div>
            <div class = "text" style = "font-size: 1.5 rem">{{ status.status_text }}</div>
        </div>
        {% endfor %}
</div>
{% endblock %}
